# Misc
*.class
*.log
*.pyc
*.swp
*.lock
*.tmp
*.bak
.DS_Store

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
**/doc/api/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/local.properties
android/key.properties
/android/app/debug
/android/app/profile
/android/app/release

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json